@import "bootstrap/scss/functions"; 
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

@mixin opacity-transition {
	&-exit {
		opacity: 1;
		 	transition: opacity 300ms;
			&-active {
				opacity: 0;
			 	transition: opacity 300ms;
			}
			&-done {
				opacity: 0;
			transition: opacity 300ms;
			}
	}
	&-enter {
		opacity: 0;
			&-active {
				opacity: 1;
				transition: opacity 300ms;
			}
			&-done {
				opacity: 1;
				transition: opacity 300ms;
			}
	}
}

html, body {
	height: 100%;
}
* {
	outline: none;
}
body {
	background: #CBDCEF;
	#root, #root > div {
		height: 100%;
	}
	nav {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background: #336;
		height: 3rem;
		padding: .5rem;
		text-align: right;
		.button-icon {
			width: 2rem;
			height: 2rem;
			cursor: pointer;
			display: inline-block;
			margin-right: .75rem;
			svg {
				width: 100%;
				height: 100%;
				color: rgb(211, 211, 211);
			}
			&:hover svg {
				color: white;
			}
		}
		@include media-breakpoint-down(md) {
			@include media-breakpoint-up(sm) {
				width: 3rem;
				height: 100%;
				background: unset;
				left: unset;
				right: 0;
				.button-icon {
					margin-bottom: 1rem;
					svg {
						color: rgb(13, 13, 13);
					}
				}
			}			
		}
	}
	.App {
		max-width: 480px;
		background-color: #003300;
		text-align: center;
		position: relative;
		.letterSquare {
			width: 48px;
			height: 48px;
			border: 1px solid #ACACAC;
			background-color: #333;
			@include media-breakpoint-down(md) {
				height: 40px;
				@include media-breakpoint-up(sm) {
					height: 38px;
				}
			}
			&.wrong-spot {
				background-color: goldenrod;
			}
			&.right-spot {
				background-color: green;
			}
			&.no-spot {
				background-color: #666;
			}
			&.active {
				border: 1px solid yellow;
				background: #ACACAC;
			}
		}
		.onscreenKeyboard {
			.keyButton {
				background-color: #DEDEDE;
				cursor: pointer;
				min-width: 1.25rem;
				margin-left: 4px;
				margin-right: 4px;
				@media (min-width: 353px) {
					min-width: 1.35rem;
				}
				@media (min-width: 360px) {
					min-width: 1.4rem;
					margin-left: 4px;
					margin-right: 4px;
				}
				@media (min-width: 380px) {
					min-width: 1.5rem;
				}
				@media (min-width: 400px) {
					min-width: 1.625rem;
				}
				@media (min-width: 420px) {
					min-width: 1.75rem;
				}
				@media (min-width: 460px) {
					margin-left: 5px;
					margin-right: 5px;
				}
				@media (min-width: 480px) {
					margin-left: 6px;
					margin-right: 6px;
				}
				@media (min-width: 576px) {
					margin-left: 5px;
					margin-right: 5px;
				}
				@media (max-width: 338px) {
					margin-left: 3px;
					margin-right: 3px;
				}
				&[data-result="right"] {
					background-color: green;
				}
				&[data-result="wrong"] {
					background-color: goldenrod;
				}
				&[data-result="none"] {
					background-color: #666;
				}
				&.actionKey {
					background: rgb(90,200,210);
				}
			}
		}
		.notification {
			@include opacity-transition();
			background: rgb(222,222,222,1);
			color: #633;
			opacity: 0;
			transition: opacity .3s;
			position: absolute;
			width: 300px;
			height: 100px;
			padding: 2.5rem .5rem;
			top: calc(50% - 50px);
			left: calc(50% - 150px);
			font-weight: 600;
		}
		.result-message {
			width: 100%;
			padding: 1rem;
			text-align: center;
			background: maroon;
			margin: 0;
			font-weight: 600;
			color: white;
		}
		.modal-header span {
			font-weight: 600;
		}
	}
	.stats {
		background: white;
		padding: 0;
		.scoreboard {
			h4 {
				margin-bottom: 1rem;
			}
			.distribution {
				&-1 {
					background-color: #00ff00;
				}
				&-2 {
					background-color: #91df00;
				}
				&-3 {
					background-color: #c4ba00;
				}
				&-4 {
					background-color: #e59100;
				}
				&-5 {
					background-color: #f96000;
				}
				&-6 {
					background-color: #ff0000;
				}
				&-bar {
					height: 28px;
					position: relative;
					top: 1px;
					left: calc(1px);
					padding-left: 4px;
					font-weight: 600;
					span {
						position: absolute;
						left: .5rem;
					}
					&-tray {
						height: 30px;
						background: #999;
						width: 100%;
						margin-bottom: .5rem;
						position: relative;
						left: 1.5rem;
						max-width: calc(100% - 3rem);
						&::before {
							display: inline-block;
							position: absolute;
							left: -1.5rem;
							color: black;
							font-weight: 600;
							top: 1px;
						}
						&[rel="1"]::before {
							content: '1: ';
						}
						&[rel="2"]::before {
							content: '2: ';
						}
						&[rel="3"]::before {
							content: '3: ';
						}
						&[rel="4"]::before {
							content: '4: ';
						}
						&[rel="5"]::before {
							content: '5: ';
						}
						&[rel="6"]::before {
							content: '6: ';
						}
					}
				}
			}
		}
	}
}
