.App {
  text-align: center;
  position: relative;
}
body {
	background: #CBDCEF;
}
html, body {
	height: 100%;
}
* {
	outline: none;
}

.letterSquare {
	width: 48px;
	height: 48px;
	border: 1px solid #ACACAC;
	background-color: #333;
}
@media (max-width:767px) {
	.letterSquare {
		height: 40px;
	}
}


.wrong-spot {
	background-color: goldenrod;
}
.right-spot {
	background-color: green;
}
.no-spot {
	background-color: #666;
}
.active {
	border: 1px solid yellow;
	background: #ACACAC;
}
#root, #root > div {
	height: 100%;
}
.result-message {
	width: 100%;
	padding: 1rem;
	text-align: center;
	background: maroon;
	margin: 0;
	font-weight: 600;
	color: white;
}
.keyButton {
	background-color: #DEDEDE;
	cursor: pointer;
	min-width: 1.25rem;
	margin-left: 4px;
	margin-right: 4px;
}
@media (min-width: 353px) {
	.keyButton {
		min-width: 1.35rem;
	}
}
@media (min-width: 360px) {
	.keyButton {
		min-width: 1.4rem;
		margin-left: 4px;
		margin-right: 4px;
	}
}
@media (min-width: 380px) {
	.keyButton {
		min-width: 1.5rem;
	}
}
@media (min-width: 400px) {
	.keyButton {
		min-width: 1.625rem;
	}
}
@media (min-width: 420px) {
	.keyButton {
		min-width: 1.75rem;
	}
}
@media (min-width: 460px) {
	.keyButton {
		margin-left: 5px;
		margin-right: 5px;
	}
}
@media (min-width: 480px) {
	.keyButton {
		margin-left: 6px;
		margin-right: 6px;
	}
}
@media (min-width: 576px) {
	.keyButton {
		margin-left: 5px;
		margin-right: 5px;
	}
}
@media (max-width: 338px) {
	.keyButton {
		margin-left: 3px;
		margin-right: 3px;
	}
}
.keyButton[data-result="right"] {
	background-color: green;
}
.keyButton[data-result="wrong"] {
	background-color: goldenrod;
}
.keyButton[data-result="none"] {
	background-color: #666;
}
.opacity-0 {
	opacity: 0;
}
.opacity-90 {
	opacity: .9;
}
.notification {
	background: rgb(222,222,222,1);
	color: #633;
	opacity: 0;
	transition: opacity .3s;
	position: absolute;
	width: 300px;
	height: 100px;
	padding: 2.5rem .5rem;
	top: calc(50% - 50px);
	left: calc(50% - 150px);
	font-weight: 600;
}
.keyButton.actionKey {
	background: rgb(90,200,210);
}

.notification-enter {
  opacity: 0;
}
.notification-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}
.notification-enter-done {
  opacity: 1;
  transition: opacity 300ms;
}
.notification-exit {
  opacity: 1;
}
.notification-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}
.notification-exit-done {
  opacity: 0;
}


.stats {
	background: white;
	padding: .5rem 0;
}
nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #333;
	height: 3rem;
	padding: .5rem;
	text-align: right;
}

.button-icon {
	width: 2rem;
	height: 2rem;
	cursor: pointer;
	display: inline-block;
	margin-right: .75rem;
}
.button-icon svg {
	width: 100%;
	height: 100%;
	color: rgb(172, 172, 172);
}
.button-icon:hover svg {
	color: white;
}
.modal-header span {
	font-weight: 600;
}

.distribution-bar {
	height: 28px;
    position: relative;
    top: 1px;
	left: calc(1px);
	padding-left: 4px;
	font-weight: 600;
}
.distribution-bar span {
	position: absolute;
	left: .5rem;
}
.distribution-bar-tray {
	height: 30px;
	background: #999;
	width: 100%;
	margin-bottom: .5rem;
	position: relative;
	left: 1.5rem;
	max-width: calc(100% - 3rem);
}

.distribution-1 {
	background-color: #00ff00;
}
.distribution-2 {
	background-color: #91df00;
}
.distribution-3 {
	background-color: #c4ba00;
}
.distribution-4 {
	background-color: #e59100;
}
.distribution-5 {
	background-color: #f96000;
}
.distribution-6 {
	background-color: #ff0000;
}
.distribution-bar-tray::before {
	display: inline-block;
	position: absolute;
	left: -1.5rem;
	color: black;
	font-weight: 600;
	top: 1px;
}
.distribution-bar-tray[rel="1"]::before {
	content: '1: ';
}
.distribution-bar-tray[rel="2"]::before {
	content: '2: ';
}
.distribution-bar-tray[rel="3"]::before {
	content: '3: ';
}
.distribution-bar-tray[rel="4"]::before {
	content: '4: ';
}
.distribution-bar-tray[rel="5"]::before {
	content: '5: ';
}
.distribution-bar-tray[rel="6"]::before {
	content: '6: ';
}
